[Unit]
Description=Noisebridge Meeting Notes Archive (nbmeetingnotes)
After=network.target

[Service]
Type=simple
User=nthmost
WorkingDirectory=/opt/nbmeetingnotes
ExecStart=/opt/nbmeetingnotes/venv/bin/gunicorn \
    --bind 127.0.0.1:8237 \
    --workers 2 \
    --timeout 60 \
    --access-logfile /var/log/nbmeetingnotes/access.log \
    --error-logfile  /var/log/nbmeetingnotes/error.log \
    web.app:app
EnvironmentFile=/opt/nbmeetingnotes/.env
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
